@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Control_BBB_Blazor.Data
@using Control_BBB_Blazor.Utils
@using System.IO;
@using System.Xml.Serialization;
@inject IHttpClientFactory httpClientFactory

@if (meetingsInfo == null)
{
  <div class="spinner-grow" role="status">
    <span class="sr-only">Loading...</span>
  </div>
}
else
{
<div class="row">
  <div class="col">
    <p><span class="badge badge-secondary">Curso: </span>
    <span class="modal-text">mi curso</span>
    </p>
    <p><span class="badge badge-secondary">Fecha: </span><span class="modal-text">@meetingsInfo.CreateDate</span></p>
    <p><span class="badge badge-secondary">Pass Moderador: </span><span class="modal-text">@meetingsInfo.ModeratorPW</span></p>
    <p><span class="badge badge-secondary">Activa: </span><span class="modal-text">@meetingsInfo.Running</span></p>
    <p><span class="badge badge-secondary">Duración: </span><span class="modal-text">@meetingsInfo.Duration</span></p>
    <p><span class="badge badge-secondary">Grabando: </span><span class="modal-text">@meetingsInfo.Recording</span></p>
    <p><span class="badge badge-secondary">Participantes: </span><span class="modal-text">@meetingsInfo.ParticipantCount</span></p>
  </div>
  <div class="col">
    <p><span class="badge badge-secondary">Oyentes: </span><span class="modal-text">@meetingsInfo.ListenerCount</span></p>
    <p><span class="badge badge-secondary">Cant. Max. Usuarios: </span><span class="modal-text">@meetingsInfo.MaxUsers</span></p>
    <p><span class="badge badge-secondary">Moderadores: </span><span class="modal-text">@meetingsInfo.ModeratorCount</span></p>
    <p><span class="badge badge-secondary">Usuario Creador: </span><span class="modal-text">@meetingsInfo.Metadata.Bnuserid</span></p>
    <p><span class="badge badge-secondary">Server Origen: </span><span class="modal-text"></span></p>
    <p><span class="badge badge-secondary">Origen: </span><span class="modal-text"></span></p>
  </div>
</div>
}
<div class="row">
  <div class="col">
    <button @onclick="Close" class="btn btn-primary btn-sm" style="float: right;">Cerrar</button>
  </div>
</div>

@code {

  [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; }

  [Parameter] public int MeetingId { get; set; }
  [Parameter] public MeetingResponse Sala { get; set; }

  private string url { get; set; }
  private string secret { get; set; }
  private MeetingInfoResponse meetingsInfo;

  void Close() => BlazoredModal.Close(ModalResult.Ok(true));

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      url = await localStorage.GetItemAsync<string>("url");
      secret = await localStorage.GetItemAsync<string>("secret");
      try
      {
        var client = httpClientFactory.CreateClient();
        var response = await client.GetAsync(ApiCall.getMeetingInfo(Sala.Meetings.Meeting[0], url, secret));
        string responseContent = await response.Content.ReadAsStringAsync();

        if (response.IsSuccessStatusCode)
        {
          XmlSerializer x = new XmlSerializer(typeof(MeetingInfoResponse));
          meetingsInfo = (MeetingInfoResponse)x.Deserialize(new StringReader(responseContent));
          this.StateHasChanged();
        }
      }
      catch (Exception e)
      {
        Console.WriteLine(e);
      }
    }
  }
}